<div id="set_user_email">
	<h3 style="margin:0;padding:2px"><a href='#'>Renseignez votre adresse email</a></h3>
	<div style="margin:0;padding:2px">
		<form method="POST" action="">
			<input type="text" name="email"/>
			<div class="form_set_email_button">{submit}</div>
		</form>
	</div>
</div>